<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-danger">
            <p class="modal-card-title">500 - Server error!!!</p>
        </header>
        <section class="modal-card-body">
            <p>An error occurred while querying the repository <a href="/repo/{{.RepoID}}">{{.RepoID}}</a>.</p>
            <p>Please try again later or contact support if the issue continues.</p>
            {{if .Error}}
            <br/>
            <p>Error: <strong>{{.Error}}</strong></p>
            {{end}}
        </section>
        <footer class="modal-card-foot">
            <div class="buttons">
                <a href="/"><button class="button is-info">Return to home</button></a>
            </div>
        </footer>
    </div>
</div>