<section class="section">
    <div class="container">
        <div class="box">
            <div class="content">
                {{if eq .State 0}}
                <!-- Artifact is OK -->
                <h1>
                    <span>
                        <i class="fa-solid fa-square-check has-text-success"></i>&nbsp;{{.RepoID}}/{{.ArtifactID}}
                    </span>
                </h1>
                {{else if eq .State 2}}
                <!-- Artifact is Expired -->
                <h1 class="has-text-warning">
                    <span class="has-tooltip-arrow has-tooltip-left has-tooltip-warning" data-tooltip="Artifact is expired!!!">
                        <i class="fa-solid fa-hourglass-end"></i>&nbsp;{{.RepoID}}/{{.ArtifactID}}
                    </span>
                </h1>
                {{else}}
                <!-- Artifact is Broken -->
                <h1 class="has-text-danger">
                    <span class="has-tooltip-arrow has-tooltip-left has-tooltip-danger" data-tooltip="Artifact is broken!!!">
                        <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;{{.RepoID}}/{{.ArtifactID}}
                    </span>
                </h1>
                {{end}}
                <table>
                    <tbody>
                        <tr>
                            <td>Created</td>
                            <td>{{.CreatedAt}}</td>
                        </tr>
                        <tr>
                            <td>Expired</td>
                            <td>{{.ExpiredAt}}</td>
                        </tr>
                        <tr>
                            <td>Size</td>
                            <td>{{.Size}}</td>
                        </tr>
                    </tbody>
                </table>
                {{if eq .State 0}}
                <a href="/repo/{{.RepoID}}/artifact/{{.ArtifactID}}.zip">
                    <button class="button is-success">
                        <i class="fa-brands fa-windows"></i>&nbsp;Download .zip
                    </button>
                </a>
                <a href="/repo/{{.RepoID}}/artifact/{{.ArtifactID}}.tar.gz">
                    <button class="button is-success">
                        <i class="fa-brands fa-linux"></i>&nbsp;Download .tar.gz
                    </button>
                </a>
                {{else if eq .State 2}}
                <a href="/repo/{{.RepoID}}/artifact/{{.ArtifactID}}.zip">
                    <button class="button is-warning">
                        <i class="fa-brands fa-windows"></i>&nbsp;Download .zip
                    </button>
                </a>
                <a href="/repo/{{.RepoID}}/artifact/{{.ArtifactID}}.tar.gz">
                    <button class="button is-warning">
                        <i class="fa-brands fa-linux"></i>&nbsp;Download .tar.gz
                    </button>
                </a>
                {{else}}
                <a href="/repo/{{.RepoID}}/artifact/{{.ArtifactID}}.zip">
                    <button class="button is-danger">
                        <i class="fa-brands fa-windows"></i>&nbsp;Download .zip
                    </button>
                </a>
                <a href="/repo/{{.RepoID}}/artifact/{{.ArtifactID}}.tar.gz">
                    <button class="button is-danger">
                        <i class="fa-brands fa-linux"></i>&nbsp;Download .tar.gz
                    </button>
                </a>
                {{end}}

                <h2>Files</h2>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>File</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Files}}
                        <tr>
                            {{if eq .State 0}}
                            <td><i class="fa-solid fa-square-check has-text-success"></i></td>
                            {{else}}
                            <td class="has-tooltip-arrow has-tooltip-left has-tooltip-danger" data-tooltip="File is broken!!!">
                                <i class="fa-solid fa-square-xmark has-text-danger"></i>
                            </td>
                            {{end}}
                            <td><a href="/repo/{{.RepoID}}/artifact/{{.ArtifactID}}/file/{{.Name}}">{{.Name}}</a></td>
                            <td>{{.Size}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>

                {{if .Meta}}
                <h2>Meta</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{template "table-meta-rows" .}}
                    </tbody>
                </table>
                {{end}}
            </div>
        </div>
    </div>
</section>