<!DOCTYPE html>
<html lang="en" class="theme-light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>swamp - only minimalistic artifacts storage</title>
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <style>
    .hero {
        margin-top: 0.1rem;
    }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/"><i class="fas fa-home"></i>Home</a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
        {{if hasField . "RepoID"}}{{if .RepoID}}
        <a class="navbar-item" href="/repo/{{.RepoID}}"><i class="fas fa-book"></i>{{.RepoID}}</a>
        {{if hasField . "ArtifactID"}}{{if .ArtifactID}}
        <a class="navbar-item" href="/repo/{{.RepoID}}/artifact/{{.ArtifactID}}"><i class="fas fa-puzzle-piece"></i>{{.ArtifactID}}</a>
        {{end}}{{end}}
        {{end}}{{end}}
        </div>
      </div>
    </nav>
    {{ yield }}
    <!-- Footer -->
    <footer class="footer has-background-info">
        <div class="content has-text-centered">
            <strong>swamp</strong> by <a href="https://github.com/cloudcopper/swamp"><i class="fa-brands fa-square-github"></i>&nbsp;cloudcopper</a>.
            The source code is licensed under <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </div>
    </footer>
</body>
</html>